* {
    box-sizing: border-box;
  }

  body {
    position: relative;
    height: 100%;
 }
 .w {
    min-height: 100%;
    height: auto !important;
    height: 100%;

}
.box{
    
    margin: auto;
    width: 70%;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.box2{
    display: none;
    text-align: center;
    margin: auto;
    width: 60%;
    height: 380px;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}



.box .container-xxl .hr{
    background-color: rgb(212, 212, 212);
    margin-bottom: 30px;
    width: 30%;
  }
.h{
    background-color:  rgb(64, 149, 45);
    color: white;
    height: 90px;
    text-align: center;
    padding: 15px;
}

.box button{
    background-color:  rgb(64, 149, 45);
    height: 45px;
    font-size: 16px;
}
.navLogo {
    width: 125px;
}

.footer{
    position: absolute;

    width:100%;
    height: 70px;
    padding: 15px;
    line-height: 20px;
}

.footer .green{
    color:rgb(64, 149, 45) ;
    font-size: 13px;
    display: inline-flex;
}




@media only screen and (max-width: 500px) {
  .box{
  background-color: white;
  padding: 10px;
  box-shadow: none;
}

.box2{
  background-color: white;
  padding: 10px;
  box-shadow: none;
}
}